@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

$color-table-layout: rgba(207, 134, 9, 1);
$color-table-cloth: rgba(212, 241, 246, 1);

$color-font: #eeeeee;
$color-primary--xxl: #393e46;
$color-primary--xl: #00adb5;
$color-primary--l: #393e46;
$color-primary--s: #f1faee;
$color-primary--xs: #eeeeee;

$media-tablet: 768px;
$media-mobile: 320px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: $color-font;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.15s ease-in;

  &:link {
    color: $color-font;
  }

  &:visited {
    color: $color-font;
  }

  &:hover {
    background: $color-primary--xl;
  }
}

.page {
  color: $color-font;
  font-size: 25px;
  font-family: 'JetBrains Mono', monospace;
  background: rgb(5, 163, 171);
  background: linear-gradient(90deg, $color-primary--xl 100%);

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0px 6px 4px 3px #000000;
  }

  &__left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    background-color: $color-primary--xxl;
  }

  &__right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    background-color: $color-primary--xxl;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
  padding: 0 15px;
  background: $color-primary--xxl;

  &__logo {
    color: $color-font;
    font-size: 40px;
  }

  &__message {
    font-size: 20px;
    white-space: break-spaces;
  }
}

.game-table {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: $color-primary--xs;

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: $color-primary--xxl;
    text-align: center;
  }

  &__layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 300px;
    background: linear-gradient(
      90deg,
      $color-table-layout 0%,
      $color-table-layout 5%,
      $color-table-cloth 5%,
      $color-table-cloth 95%,
      $color-table-layout 95%,
      $color-table-layout 100%
    );
    box-shadow: 0px 20px 0px -8px #91b0b5, 0px 13px 0px -1px #815305;
    transform: rotateX(45deg);
    transform-origin: 50% 50% 0px;
    perspective: 250px;
    perspective-origin: top right;
  }
}

.game-editor {
  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
  }

  &__layout {
    position: relative;
    display: flex;
  }

  &__lines {
    width: 5%;
    text-align: center;
  }

  &__viewer {
    width: 100%;
    font-size: 25px;
    resize: none;

    & > pre > code {
      height: 350px;
    }
  }
}

.complete-game-banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $color-primary--xl;

  &__message {
    width: 70%;
    margin-bottom: 50px;
    color: white;
    font-size: 45px;
    text-align: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 15px 0;
  padding: 0 25px;
  background-color: $color-primary--xxl;

  &__logo-link {
    background-color: $color-primary--xs;
  }
}

.level-list {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;

  &__item-link {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5px;
    text-align: left;
  }

  &__complete-icon {
    margin-right: 10px;
    color: greenyellow;
  }

  &__item-number {
    margin-right: 10px;
  }
}

.button {
  font-size: 25px;
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
  transition: background 0.15s ease-in;

  &:hover {
    background-color: $color-primary--xl;
  }

  &__enter {
    position: absolute;
    right: 0;
    z-index: 100;
    width: 15%;
    height: 50px;
    border: 0;
  }

  &__new-game {
    padding: 15px;
    font-size: 30px;
  }

  &__help {
    top: 15%;
    width: 40px;
    height: 40px;
    font-weight: 800;
    font-size: 30px;
    background-color: $color-primary--xs;
    border: 0;
    border-radius: 50%;
  }
}

.--button-big {
  width: 400px;
  height: 100px;
}

.--button-normal {
  width: 200px;
  height: 50px;
}

plate,
cup,
cake,
apple,
cookie {
  position: relative;
  z-index: 5;
  margin: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
}

plate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  height: 125px;
  background: white;
  border-bottom: solid 5px #ddd;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.big {
  width: 300px;
}

.fancy:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border: 22px double plum;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

cup {
  width: 20px;
  height: 50px;
  background: red;
  border: 2px solid blue;
}

cake {
  background: green;
  border: 2px solid blue;
  border-radius: 50%;
}

cookie {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #875a34;
  border-radius: 50%;
}

apple {
  width: 45px;
  height: 60px;
  margin: 0 auto;
  background-color: red;
  border-radius: 50%;

  &[data-color='red'] {
    background-color: red;
  }
  &[data-color='green'] {
    background-color: green;
  }
}

.--selected {
  animation: pulse 0.5s ease-in-out infinite;
}

.--wrong {
  animation: shake 0.25s ease-in-out;
}

.--succes {
  animation: clear-table 1s ease-out;
}

.--highlight-element {
  border: 5px solid $color-primary--xl;
}

.highlight-html-element {
  position: absolute;
  background-color: white;
}

.--highlight-current-level {
  background-color: $color-primary--xl;
}

.--hidden {
  display: none;
}

.element-HTML-code {
  position: absolute;
  top: 50px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: white;
  border: 2px dashed black;
}

@keyframes clear-table {
  0% {
    top: 0;
  }
  100% {
    top: -9000px;
  }
}

@keyframes shake {
  0% {
    left: -15px;
  }
  50% {
    left: 25px;
  }
  100% {
    left: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
