$color-table-layout: rgba(207, 134, 9, 1);
$color-table-cloth: rgba(212, 241, 246, 1);

$media-tablet: 768px;
$media-mobile: 320px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

blockquote,
body,
cite,
fieldset,
figure,
img,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page {
  font-size: 25px;

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  &__left-col {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: aquamarine;
  }

  &__right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    background-color: red;
  }
}

.header {
  height: 50px;
}

.game-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: yellow;

  &__layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 300px;
    background: linear-gradient(
      90deg,
      $color-table-layout 0%,
      $color-table-layout 5%,
      $color-table-cloth 5%,
      $color-table-cloth 95%,
      $color-table-layout 95%,
      $color-table-layout 100%
    );
    box-shadow: 0px 20px 0px -8px #91b0b5, 0px 13px 0px -1px #815305;
    transform: rotateX(45deg);
    transform-origin: 50% 50% 0px;
    perspective: 250px;
    perspective-origin: top right;
  }
}

.game-editor {
  &__info {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 10px 15px;
  }

  &__layout {
    position: relative;
    display: flex;
  }

  &__input {
    width: 90%;
    height: 50px;
    overflow: hidden;
    font-size: 20px;
    resize: none;
  }

  &__lines {
    width: 5%;
    text-align: center;
  }

  &__viewer {
    width: 90%;
    height: 500px;
    font-size: 25px;
    resize: none;
  }
}

.complete-game-banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: purple;

  &__message {
    width: 70%;
    margin-bottom: 50px;
    color: white;
    font-size: 45px;
    text-align: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  padding: 0 25px;
  background-color: greenyellow;
}

.level-list {
  width: 100%;
  margin-bottom: 50px;

  &__item-link {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
  }
}

.button {
  cursor: pointer;

  &__enter {
    position: absolute;
    right: 0;
    z-index: 100;
    width: 15%;
    height: 50px;
    border: 0;
  }

  &__new-game {
    font-size: 40px;
  }
}

.--button-big {
  width: 400px;
  height: 100px;
}

.--button-normal {
  width: 200px;
  height: 50px;
}

plate,
cup,
cake,
apple {
  position: relative;
  margin: 10px;
}

plate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid blue;
  border-radius: 50%;
}

cup {
  width: 20px;
  height: 50px;
  background: red;
  border: 2px solid blue;
}

cake {
  background: green;
  border: 2px solid blue;
  border-radius: 50%;
}

apple {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: red;
  border: 1px solid black;
  border-radius: 50%;
}

code {
  height: 500px;
}

.--selected {
  animation: pulse 0.5s ease-in-out infinite;
}

.--wrong {
  animation: shake 0.25s ease-in-out;
}

.--succes {
  animation: clear-table 1s ease-out;
}

.--highlight-element {
  background-color: white;
  border: 10px solid purple;
}

.--highlight-HTML {
  background-color: white;
}

.--highlight-current-level {
  background-color: white;
}

.--hidden {
  display: none;
}

.element-HTML-code {
  position: absolute;
  top: 50px;
  background-color: white;
  border: 2px dashed black;
}

@keyframes clear-table {
  0% {
    top: 0;
  }
  100% {
    top: -9000px;
  }
}

@keyframes shake {
  0% {
    left: -15px;
  }
  50% {
    left: 25px;
  }
  100% {
    left: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
