@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transition: background-image 0.8s ease-in-out;
}
.date {
  font-size: 6rem;
}

.time {
  font-size: 8rem;
  color: #ffffff;
  text-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2), 4px 4px 0px #d5d5d5;
}

.greeting,
.focus,
.name {
  font-size: 3rem;
}

.greeting{
  margin-right: 20px;
}
h1 {
  display: flex;
  justify-content: space-between;
}
.name {

  /* padding-left: 1px; */
}

.btn-change-bg {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 50px auto 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #d5d5d5;
}

.btn-change-bg:before {
  font-size: 2rem;
  content: "↻";
  color: black;
}

.btn-change-bg:hover {
  background: #d5d5d5;
  border: 2px solid #d5d5d5;
}

.btn-rotate {
  transform: rotate(360deg);
  transition: transform 0.5s ease-out;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
