.help {
  &__content {
    margin: 81px 0 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin-bottom: 60px;
    max-width: 310px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-dark-l;
  }

  &__img {
    margin: 0 auto 30px auto;
    display: block;
  }

  &__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > :not(:nth-child(5)):not(:last-child) {
      margin-right: 120px;
    }

    & > :nth-child(-n + 5) {
      margin-bottom: 55px;
    }

    @media (max-width: $media-tablet) {
      & > :not(:nth-child(5)):not(:last-child) {
        margin-right: 0;
      }

      & > :not(:nth-child(3)):not(:nth-child(6)):not(:last-child) {
        margin-right: 60px;
      }

      & > :nth-child(-n + 6) {
        margin-bottom: 55px;
      }
    }
    
  }

  &__item {
    @media (max-width: $media-tablet) {
      width: 170px;
    }
  }
}
