@font-face {
  font-family: 'Roboto';
  src: url(/src/fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%) no-repeat cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  z-index: 100;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  margin-top: 10px;
  background: rgba(#ffffff, 0.8);

  &__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #9599e2;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 5px;
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.25em;
      height: 3.25em;
      font-size: 50px;
      border: 1px solid black;
      cursor: pointer;
      transition: all 0.2s ease-in;
    }

    &-item:hover {
      border: 1px solid lightgreen;
    }
  }

  &__complete-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__complete-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    background-color: rgba(#21ff04, 0.8);
  }
}

.best-results {
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    background-color: rgba(#21ff04, 0.7);
    backdrop-filter: blur(5px);
  }

  &__table {
    width: 90%;
    margin-top: 10%;
    text-align: center;
    background: white;
    border-top: 7px solid #9baff1;
    border-bottom: 7px solid #9baff1;
    border-collapse: collapse;

    &-header,
    &-cell {
      padding: 8px;
      color: #039;
      border-right: 1px solid #9baff1;
      border-left: 1px solid #9baff1;
    }
  }
}

.--display-none {
  display: none;
}
